<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li 
            class="list-group-item" 
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor : odd % 2 !== 0 ? 'crimson' : 'transparent'}"
            *ngFor="let odd of oddNumbers">
              {{ odd }}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li class="list-group-item" 
            [ngClass]="{even: even % 2 === 0}"
            [ngStyle]="{backgroundColor : even % 2 === 0 ? 'dodgerblue' : 'transparent'}"
            *ngFor="let even of evenNumbers">
              {{ even }}
          </li>
        </div> -->
        <!-- Esto es en lo que Angular transforma elementos con una directiva estructural
        Crea una etiqueta ng-template y usa la directiva como atributo de la misma -->
        <!-- <ng-template [ngIf]="!onlyOdd">
          <div>
            <li class="list-group-item" 
            [ngClass]="{even: even % 2 === 0}"
            [ngStyle]="{backgroundColor : even % 2 === 0 ? 'dodgerblue' : 'transparent'}"
            *ngFor="let even of evenNumbers">
             {{ even }}
            </li>
          </div>
        </ng-template> -->
        <div *unless="onlyOdd">
          <li 
            class="list-group-item" 
            [ngClass]="{even: even % 2 === 0}"
            [ngStyle]="{backgroundColor : even % 2 === 0 ? 'dodgerblue' : 'transparent'}"
            *ngFor="let even of evenNumbers">
              {{ even }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'tomato'">Style me with better directive!</p>
      <!-- Uso de ngSwitch -->
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is not accounted for</p>
      </div>
    </div>
  </div>
</div>